body{
    background-color: rgba(250, 247, 247, 0.3);
}
header{
    justify-content: space-between;
    height: 68px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #5e2d91, #9b59b6);
    border-bottom: rgb(169, 169, 169) solid 2px;
}
.filler{
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
}
#home-link{
    display: block;
    padding: 10px;
    width: fit-content;
    color: #fff;
}
#home-link h1{
    font-size: 20px;
    font-weight: 300;
}
#header-links{
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    margin-right: 20px;
}
#header-links a{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    padding: 5px;
    border-radius: 100px;
    transition: 0.4s;
    color: #fff;
    background-color: #5e2d91;
}
#header-links a:hover{
    background-color: #000;
    color: #fff;
}