#sign-form{
    width: 420px;
    padding: 20px;
    border-radius: 8px;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
form h2{
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}
form .input-div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
form label{
    display: block;
    width: 360px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 200;
    padding-left: 10px;
}
form input{
    width: 360px;
    line-height: 28px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding-left: 10px;
}
form .double-input-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
form .double-input-div input{
    width: 170px;
}
form .double-input-div label{
    width: 170px;
}
.error{
    color: #f00;
    margin-top: 5px;
    font-size: 12px;
    display: none;
    text-align: center;
}
#submit-btn{
    display: block;
    width: 80px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 0.4s;
}
#submit-btn:hover{
    color: #f6d8f9;
    background-color: #000;
}
.password-field {
    position: relative;
  }
  
.password-field input {
    padding-right: 40px;
}
  
.toggle-password {
    position: absolute;
    right: 10px;
    top: 7.5px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
.toggle-password i{
    font-size: 16px;
}
#other-opt{
    margin-top: 20px;
    line-height: 32px;
}
#other-opt a{
    color: rgba(0, 59, 222, 0.9);
}
#other-opt a:hover{
    text-decoration: underline;
}
  