.sub-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(250, 250, 250);
  font-family: Arial, sans-serif;
}

.sub-nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s;
  border: rgb(250, 250, 250) 5px solid;
  transition: 0.4s;
}
.sub-nav a:hover{
  border-bottom: var(--primary-color) 5px solid;
  color: var(--primary-color);
}

.sub-nav a.active{
  border-bottom: var(--primary-color) 5px solid;
  color: var(--primary-color);
}
