#add-user {
    width: 960px;
    margin-left: 260px;
    margin-top: 40px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#add-user h2 {
    width: 100%;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}

#add-user .input-field {
    margin-top: 15px;
}

#add-user label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding-left: 4px;
    color: #333;
    margin-bottom: 6px;
}

#add-user input {
    display: block;
    font-size: 14px;
    padding: 10px 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.2s;
}

#add-user input:hover,
#add-user input:focus {
    border-color: var(--primary-color);
}

#add-user select {
    width: 180px;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    transition: 0.2s;
    outline: none;
}

#add-user select:hover,
#add-user select:focus {
    border-color: var(--primary-color);
}

#add-user option {
    font-size: 14px;
}

#add-user .name-div {
    display: flex;
    gap: 20px;
}

#add-user .name-div input {
    width: 448px;
}

.add-user-btn {
    display: block;
    background-color: var(--primary-color-8);
    color: #fff;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
    border: none;
    cursor: pointer;
}

.add-user-btn:hover {
    background-color: var(--primary-color);
}

#extra-fields .input-field {
    margin-top: 15px;
}