#budget-card{
    width: 960px;
    margin: auto;
    border: var(--primary-color) solid 1px;
    border-radius: 12px;
    margin-top: 40px;
    padding: 10px;
}
#budget-card h3{
    font-weight: 200;
    text-align: center;
}
#budget-card table{
    width: 500px;
    font-size: 20px;
}
#budget-card table td{
    padding: 10px;
}
.graph-content-container{
    justify-content: center;
    gap: 30px;
}
.graph-content-container div{
    width: fit-content;
}
.graph-content-container div p{
    width: fit-content;
}
.view-btn{
    display: block;
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    width: fit-content;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 40px;
    transition: 0.4s;
}
.view-btn:hover{
    color: #fff;
    background-color: #000;
}
.red-box span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
}
.blue-box span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
}