#week-reservations{
    width: 960px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    box-shadow: rgba(0,0,0,0.1) 1px 2px 5px 1px;
}
#week-reservations h2{
    font-weight: 300;
    text-align: center;
    width: 100%;
    margin-bottom: 15px
}
#week-reservations table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    width: 100%;
    margin: auto;
    border-radius: 6px;
    overflow: hidden;
}
#week-reservations th, #week-reservations td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
#week-reservations th {
    background: var(--primary-color);
    color: #fff;
}
.no-data { margin-top: 20px; color: #666; font-style: italic; }