.vertical-line {
    width: 1px;    
    background-color: #a8a8a8; 
    height: 100hv; 
}

.body-index{
  margin: 0;
  padding:0;
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  color: #222;
}


.container {
  display:flex;
  justify-content: center;
  margin-bottom: 40px;
  height:auto;

}

.menu{
  font-weight:bold;
  color: black;
  font-size: x-large;
}


.sidebar a{
    display:flex;
    align-items: center;
    text-decoration: none; 
    color: #737373;
    margin-left: 20px;
    margin-bottom: 10px;
} 

.sidebar a:hover {
  color: #641F87;
  font-weight: bold;
}

.container .page-title{
    font-weight: bold;

  font-size: 30px;
}

  .sidebar {
  box-shadow: 0 8px 20px rgba(2,6,23,0.08); 
  margin-left: 20px;
  margin-right: 20px;
  height: Auto;
  width: 150px;  
  padding: 20px;
  border-radius: 10px; 
}

.hr1, .hr2, .hr3, .hr4, .hr5, .hr6{
   box-shadow: 0 -1px 2px rgba(129, 129, 129, 0.5);
}

.today-reservation{  
  box-shadow: 0 8px 20px rgba(2,6,23,0.08); 
  margin-left: 20px;
  margin-right: 20px;
  height: Auto;
  width: 150px;  
  padding: 20px;
  border-radius: 10px; 
}

.reservations{
  font-weight: bold;
}

